@media (max-width: 700px) {
 main {
  flex-wrap: wrap !important;
 }

 .sidebar {
  position: absolute;
  z-index: 2;
  top: 110px;
  right: 0;
  flex-wrap: wrap;
  border-top: 2px solid var(--lightbg-color);
  border-left: none;
  background-color: var(--theme-color);
  min-width: 10px !important;
  width: 10px !important;
  overflow: hidden;
  color: transparent;
  padding: 0;
  border-radius: 20px 0 0 20px;
 }

 .sidebar:hover {
  width: fit-content !important;
  max-height: 100% !important;
  padding: 30px 15px !important;
  color: var(--lightbg-color);
  background-color: var(--darkbg-color);
 }
}


/* media query */
@media (max-width: 650px) {
 .contact-card {
  display: grid;
  grid-template-columns: 1fr;
 }

 .contact-card{
    max-width: 70%;
    min-width: 300px;
    margin: auto;
 }

 .contact-card .contact-info {
  border-right: none;
  border-bottom: 2px solid var(--secondary-color);
  padding-bottom: 30px;
 }

 .contact-card .contact-info .social-media-content {
  border-top: none;
 }

 .contact-card .contact-form button {
  display: block;
  margin: 20px auto;
 }
}