* {
 margin: 0;
 padding: 0;
}

ul {
 list-style: none;
}

a {
 color: inherit;
 text-underline-offset: 3px;
}

:root {
 --theme-color: blue;
 --darkbg-color: #05001f;
 --lightbg-color: #afafaf;
}

body {
 background-color: var(--darkbg-color);
 font-family: 'Roboto', sans-serif;
 color: var(--lightbg-color);
}

.main-nav {
 display: flex;
 color: var(--theme-color);
 height: fit-content;
 max-height: 70px;
 justify-content: space-between;
 flex-direction: row;
 position: static;
 font-size: 20px;
 background-color: var(--lightbg-color);
 width: 100%;
 overflow: hidden;
 max-width: 100vw;
 box-shadow: 0px 3px 5px 0 var(--darkbg-color) !important;
 margin-bottom: 1px;
}

.main-nav .nav-logo {
 display: flex;
 font-weight: bold;
 list-style: none;
 color: var(--backg-color);
 margin-left: 20px;
}

.main-nav .nav-logo li {
 padding: 10px 10px;
 text-wrap: nowrap;
}

.main-nav .nav-items {
 display: flex;
 gap: 20px;
 align-items: center;
 justify-content: center;
 margin-right: 20px;
}

.main-nav .nav-items .nav-item {
 display: block;
 text-align: center;
 padding: 10px 10px;
 border-radius: 5px 50% 50% 5px;
 text-wrap: nowrap;
 text-decoration: none;
}

.main-nav .nav-items .nav-item:hover {
 background-color: var(--theme-color);
 color: var(--lightbg-color);
 box-shadow: 2px 2px 5px 0 var(--darkbg-color);
 cursor: pointer;
}

/* latest posts */
.latest-nav {
 display: flex;
 position: relative;
 background-color: var(--theme-color);
 color: var(--lightbg-color);
 height: fit-content;
 max-height: 60px;
 max-width: 100vw;
 overflow: hidden;
}

.latest-nav .latest-side {
 display: block;
 background-color: var(--lightbg-color);
 color: var(--theme-color);
 font-weight: bold;
 padding: 10px 10px;
 box-shadow: 5px 0px 5px 0 var(--darkbg-color);
 z-index: 2;
}

.latest-nav .latest-headlines {
 display: flex;
 gap: 30px;
 align-items: center;
 justify-content: flex-start;
 overflow: hidden;
 width: 100%;
 max-width: 100%;
 z-index: 1;
 overflow-x: hidden;
}

.latest-nav .latest-headlines li {
 display: block;
 text-align: center;
 padding: 5px 15px;
 border-radius: 50px 50px;
 text-wrap: nowrap;
 background-color: var(--darkbg-color);
 color: var(--lightbg-color);
 box-shadow: 3px 3px 5px 0 solid var(--lightbg-color);
 max-height: 90%;
}
.latest-nav .latest-headlines li:hover {
 box-shadow: 2px 2px 5px 0 var(--lightbg-color);
 cursor: pointer;
}

main {
 display: flex;
 margin-top: 30px;
 flex-wrap: nowrap;
}

.main-column {
 display: flex;
 flex-grow: 2;
 height: fit-content;
 padding: 15px;
 justify-content: center;
 justify-self: center;
 width: 100%;
}

.sidebar {
 display: flex;
 flex: 1;
 flex-direction: column;
 gap: 20px;
 border-left: 1px solid var(--lightbg-color);
 min-height: 80vh;
 padding: 15px;
 min-width: 200px;
 transition: all 0.5s ease-out;
}
.sidebar a {
 text-decoration: none;
 color: var(--theme-color);
}

.sidebar .sidebar-sec {
 display: flex;
 flex-direction: column;
 gap: 5px;
}
.sidebar .categories {
 display: flex;
 flex-direction: column;
 gap: 5px;
}

.sidebar .categories a {
 text-decoration: none;
 color: var(--theme-color);
}

.sidebar .categories a:hover {
 color: var(--lightbg-color);
}

/* posts */
.main-column {
 display: flex;
 flex-direction: column;
 gap: 20px;
 justify-content: center;
 justify-self: center;
}
.post {
 display: flex;
 position: relative;
 flex-direction: column;
 gap: 10px;
 background-color: var(--lightbg-color);
 color: var(--darkbg-color);
 border-radius: 20px;
 padding: 15px 25px;
 width: 90%;
 height: fit-content;
 box-shadow: 3px 3px 5px 0 var(--theme-color);
 margin: auto;
}

.post .post-title {
 width: 100%;
 border-bottom: 2px solid var(--theme-color);
 padding-bottom: 5px;
 text-decoration: none;
}

.post .post-title:hover {
 color: var(--theme-color);
}

.post .post-labels {
 display: flex;
 gap: 5px;
 font-size: 15px;
 padding-bottom: 10px;
}

.post .post-image {
 display: flex;
 justify-content: center;
 align-items: center;
 max-height: 300px;
 width: auto;
 max-width: 100%;
 object-fit: contain;
 border-radius: 20px !important;
 overflow: hidden;
}

.post .post-content {
 box-shadow: 0px -2px 2px 0 var(--darkbg-color);
 padding: 10px;
 border-radius: 10px;
 max-height: 200px;
 overflow: hidden;
}

.post .post-labels p {
 border-radius: 30px;
 box-shadow: 1px 1px 3px 0 var(--darkbg-color);
 padding: 5px;
 text-align: center;
 vertical-align: middle;
}

.post .view-post-content {
 max-height: fit-content !important;
}

.main-footer {
 display: flex;
 flex-direction: row;
 gap: 20px;
 justify-content: space-evenly;
 padding: 20px;
 background-color: var(--theme-color);
 color: var(--lightbg-color);
 margin-top: 20px;
 flex-wrap: wrap;
}

.main-footer .quick-links {
 display: flex;
 gap: 5px;
 flex-direction: column;
 color: var(--lightbg-color);
}

.main-footer a,
.main-footer p {
 color: var(--lightbg-color);
 margin-bottom: 5px;
}

.main-footer a:hover {
 color: var(--darkbg-color);
}

.main-footer .footer-sec {
 display: flex;
 flex-direction: column;
 gap: 5px;
 text-align: center;
}

.main-footer .footer-sec h4 {
 font-size: 19px;
}
